@page
@model IEnumerable<KnowledgeBase.Data.Models.Resource>
@{
	ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
	<a asp-action = "Create">Create New</a>
</p>

<table>
	<theade>
		<tr>
			@Html.DisplayNameFor(model => model.Name)
		</tr>
		<tr>
			@Html.DisplayNameFor(model => model.Description)
		</tr>
		<tr>
			@Html.DisplayNameFor(model => model.Category)
		</tr>
	</theade>
</table>

@foreach(var item in Model){
	<tr>
		<td>@Html.DisplayNameFor(model => model.Name)</td>
		<td>@Html.DisplayNameFor(model => model.Description)</td>
		<td>@Html.DisplayNameFor(model => model.Category);</td>
		<td>
			<a asp-action="Edit">Edit</a>
			<a asp-action="Delete">Delete</a>
		</td>

	</tr>
}