@using KnowledgeBase.Logic.Dto.PermissionsRequests
@model IEnumerable<ApproveProjectPermissionRequestDto>

@foreach (var request in Model)
{
    <div class="card mb-3">
        <div class="m-1">From: @request.Sender.FirstName @request.Sender.LastName @request.Sender.Email</div>
        <div class="m-1">Project: @request.Project.Name</div>
        <div class="m-1">Permissions:</div>
        <ul class="m-1">
            @foreach (var permission in request.RequestedPermissions)
            {
                <li>
                    @permission
                </li>
            }
        </ul>
        <div class="m-1">
            @using (Html.BeginForm("ProjectPermissionsRequests", "Request", FormMethod.Post))
            {
                <input type="hidden" value="@request.Project.Id" name="projectId"/>
                <input type="hidden" value="@request.Sender.Id" name="senderId"/>
                <input type="submit" value="Allow" class="btn btn-primary"/>
            }
        </div>
    </div>
}