@model KnowledgeBase.Logic.Dto.UserDto
@using KnowledgeBase.Logic.Dto
@{
    UserDto user = Model;
}
<div>
    <label> <b> First name: </b> </label> <br />
    @user.FirstName <br />
    <label><b>Last name:</b> </label> <br />
    @user.LastName <br />
    <label><b>Email: </b></label> <br />
    @user.Email <br />
    <label><b>Role: </b></label> <br />
    @ViewBag.Role.Name <br/>

    <label><b>Permissions</b></label>
    <a asp-action="Permissions" asp-route-id="@Model.Id">Manage Permissions</a>
    @foreach(PermissionDto perm in ViewBag.Permissions)
    {
        <div>@perm.ProjectId @perm.PermissionName </div>
    }
</div>
