@using KnowledgeBase.Logic.Dto
@model KnowledgeBase.Logic.Dto.UserDto

@{
    UserDto user = Model;
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new {@class = "form"}))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(user => user.Email, new { @class = "form-label" })
        @Html.TextBoxFor(user => user.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.Email)
    </div>
    <div class="mb-3">
        @Html.LabelFor(user => user.FirstName, new { @class = "form-label" })
        @Html.TextBoxFor(user => user.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.FirstName)
    </div>
    <div class="mb-3">
        @Html.LabelFor(user => user.LastName, new { @class = "form-label" })
        @Html.TextBoxFor(user => user.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.LastName)
    </div>

    @Html.HiddenFor(user => user.Password, new {@Value = "Default"})
   

    <div>
        <input type="submit" value="Save" class="btn - btn-primary"/>
    </div>
}
