@using KnowledgeBase.Logic.Dto
@model IEnumerable<UserDto>
@{
    IEnumerable<UserDto> users = Model;
}

@foreach (UserDto user in users)
{
    <div>
        @user.FirstName
        @user.LastName
        @user.Email
        <a asp-action="Details" asp-route-id="@user.Id">Details</a>
        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
        
    </div>
}
