@model KnowledgeBase.Data.Models.Resource

@{
	ViewData["Title"] = "Create";
}

<h2>creator</h2>

@using (Html.BeginForm("Create", "Resource", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(resource=>resource.Name)
		@Html.EditorFor(resource=>resource.Name)
		@Html.ValidationMessageFor(resource=>resource.Name)
	</div>
	<div>
		@Html.LabelFor(resource=>resource.Description)
		@Html.EditorFor(resource=>resource.Description)
		@Html.ValidationMessageFor(resource=>resource.Description)
	</div>
	<div>
		@Html.LabelFor(resource=>resource.Category)
		@Html.EditorFor(resource=>resource.Category)
		@Html.ValidationMessageFor(resource=>resource.Category)
	</div>
	<div>
		<input type="submit" value="Save" />
	</div>
}