@model KnowledgeBase.Logic.Dto.Resources.CredentialsResource.UpdateCredentialsResourceDto;

@using (Html.BeginForm("EditCredentials", "Resource", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Name, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Name, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Description, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Description, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Login, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Login, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Password, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Password, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Target, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Target, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Target, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
}
