@using KnowledgeBase.Data.Models.Enums;
@model KnowledgeBase.Logic.Dto.Resources.AzureResource.UpdateAzureResourceDto;

@using (Html.BeginForm("EditAzure", "Resource", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Name, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Name, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.Description, new { @class = "form-label" })
        @Html.TextBoxFor(resource => resource.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(resource => resource.Description, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(resource => resource.File, new { @class = "form-label" })
        @Html.TextBox("file", "", new { type = "file", @class = "form-control", @id = "File" })
        @Html.ValidationMessageFor(resource => resource.File, string.Empty, new { @class = "form-text text-danger" })
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save"/>
    </div>
}