@model IEnumerable<KnowledgeBase.Logic.Dto.ResourceDto>
 
@{
    ViewData["Title"] = "Index";
}


<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if(!item.IsDeleted){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">delete</a>
                    <a asp-action="Download" asp-route-id="@item.Id">download</a>
                </td>
            </tr>
        }
        }
    </tbody>
</table>
