@using KnowledgeBase.Logic.Dto
@model IEnumerable<ProjectDto>
@{
    IEnumerable<ProjectDto> projects = Model;
}

@foreach (ProjectDto project in projects)
{
    <div>
        @project.Id
        @project.Name
        <a asp-action="Details" asp-route-id="@project.Id">details</a>
        <a asp-action="Edit" asp-route-id="@project.Id">edit</a>
        <a asp-action="Delete" asp-route-id="@project.Id">delete</a>
    </div>
}
<div>
    <a asp-action="Find">Find Another Projects By Name</a>
</div>