@using KnowledgeBase.Logic.Dto.Project;
@model IEnumerable<ProjectDto>
@{
    IEnumerable<ProjectDto> projects = Model;
}
<table class="table">
	<tr>	   
	   <th>Name</th>
	   <th>Date Of Creation</th>
	   <th>Description</th>
	   <th>Actions</th>
	</tr>

	@foreach (ProjectDto project in projects)
	{
		<tr>			
			<td>@project.Name</td>
			<td>@project.StartDate</td>
			<td>@project.Description</td>
			<td>
				<a asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary">Details</a>
				<a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-primary">Edit</a>
				<a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger">Delete</a>
				<a asp-action="AssignUsers" asp-route-id="@project.Id" class="btn btn-secondary">Assign users</a>
				<a asp-action="ReportsList" asp-route-id="@project.Id" class="btn btn-secondary">Reported issues</a>
			</td>       
		</tr>
	}
</table>

<div>
	<a asp-action="FindProjects">Filter Projects</a>
</div>